div.row {
    margin-top: 1%;
}

div.card {
    font-size: x-small;
    border-color: transparent;
    cursor: pointer;
}

img {
    border-radius: 5px 5px;
    display: block;
    width: 100%;
}

h5 {
    font-size: 1rem;
}